<header>
  {{> navbar}}
  <h2 class="page-title">Admin Console</h2>
</header>

<div class="admin-container">
  <div class="row">
    <div class="col-12 col-md-3">
      {{> admin-menu}}
    </div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12">
          <h4 class="float-left">Ticket Details</h4>
        </div>
      </div>
      
    <hr>
    
    <a href='/admin/ticket'><< Manage Tickets</a>

    <div class="row">
        <div class="col-12">
          <!-- Ticket Details -->
          
          <div class="card ticket-card">
            <div class="card-header">
              <h4>#{{ticket.id}} - {{ticket.title}}</h4>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5 class="card-title bold">Client Phone</h5>
                  <p class="card-text">{{ticket.phone}}</p>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title">Client Email</h5>
                  <p class="card-text">{{ticket.email}}</p>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title">Description</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title">Ticket State</h5>
                  <form class="space-below">
                    <div class="form-group">
                      <label for="ticket-state">Ticket State:</label>
                      <select class="form-control" name="ticket-state" id="ticket-state">
                        {{#defaultSelectOption ticket.ticket_state_id}}
                        <option value="1">Opened</option>
                        <option value="2">Issue Created</option>
                        <option value="3">Issue Resolved</option>
                        <option value="4">Will Not Address</option>
                        <option value="5">Cannot Reproduce</option>
                        {{/defaultSelectOption}}
                      </select>            
                    </div>
                    <button id="save-ticket-changes" class="btn btn-secondary float-right">Save Changes</button>
                  </form>
                  </li>
              </ul>
              
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#convert-modal">Convert to Issue</button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#assign-previous-modal">Assign to Previous Issue</button>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete Ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete Ticket Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will permanently delete the ticket and will not be available for recovery. Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete-ticket-btn">Delete Ticket</button>
      </div>
    </div>
  </div>
</div>

<!-- Assign to previous issue modal -->
<div class="modal fade" id="assign-previous-modal" tabindex="-1" role="dialog" aria-labelledby="assign-previous-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign ticket to previous issue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select an issue to assign the ticket to.</p>
        <form>
          <div class="form-group">
            <label for="assign-issue-dropdown">Issue</label>
            <div id="previous-issue-select-container"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="assign-previous-ticket-btn">Assign</button>
      </div>
    </div>
  </div>
</div>

<!-- Convert Ticket Modal -->
<div class="modal fade" id="convert-modal" tabindex="-1" role="dialog" aria-labelledby="convert-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Convert to Issue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Complete the form below to convert the ticket to an issue.</p>
        <p>Issue Title: {{ticket.title}}</p>
        <p>Issue Body: {{ticket.description}}</p>
        <form>
          <div class="form-group">
            <label for="assigned-user">Assignee</label>
              <div id="user-dropdown-container" data-user-id="{{user_id}}">
          </div>
          <div class="form-group">
            <label for="assigned-project">Project</label>
              <div id="project-dropdown-container" data-project-id="{{project_id}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="convert-ticket-btn">Create Issue</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/ticket-details.js"></script>